body {
    background-color: #333;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
textarea, button, input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #222;
    border: none;
    color: #0f0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
textarea {
    width: calc(100% - 40px);
}
button {
    cursor: pointer;
}
button:hover {
    background-color: #0d0;
}
#cli-variables-form-container {
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 5px;
    border-bottom: 1px solid #444;
}
label {
    margin-top: 10px;
}
